//Variables

// colors
// $my-color: orange;
// sizes

// others
$font-josefin: "Josefin Sans", sans-serif;
$green1: rgb(22, 145, 22);
$green2: rgb(43, 156, 43);
$green3: rgb(3, 158, 106);
$red: red;
