// List
li {
  width: 50vw;
  height: 3rem;
  max-width: 50vw;
  word-wrap: break-word;
  overflow-wrap: break-word;
  position: relative;
  div {
    position: absolute;
    right: 0;
    top: -0.5em;
  }
  button {
    width: 2rem;
    height: 2rem;
    margin-left: 0.5em;
    border: none;
    border-radius: 5px;
  }
  &.delete {
    color: $red;
  }
  &.completed {
    text-decoration: line-through;
  }
}
